@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@theme {
  --font-poppins: "Poppins", sans-serif;

  --color-dark: #333333;
  --color-primary: #1965fd;

  --animate-shake: shake 0.2s ease-in-out;
  --animate-fadeIn: fadeIn 0.2s ease-in-out;
  --animate-fadeOut: fadeOut 0.2s ease-in-out;
  --animate-slideUp: slideUp 0.2s ease-in-out;
  --animate-slideDown: slideDown 0.2s ease-in-out;
  --animate-loading: loading 1.5s ease-in-out infinite;

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(2px);
    }
    50% {
      transform: translateX(-2px);
    }
    75% {
      transform: translateX(2px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes slideUp {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(10px);
    }
  }
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@layer base {
  html {
    @apply scroll-smooth scroll-p-16;
  }
  body {
    @apply overflow-x-hidden font-poppins text-black/80 text-base bg-white  dark:bg-gray-900 dark:text-white/80;
  }
  .container {
    @apply max-w-7xl w-full mx-auto px-4;
  }
  h1 {
    @apply text-[clamp(2rem,6vw,3rem)] font-bold;
  }
  h2 {
    @apply text-[clamp(1.5rem,5vw,2.5rem)] font-bold;
  }
  h3 {
    @apply text-[clamp(1.25rem,4vw,2rem)] font-bold;
  }
  h4 {
    @apply text-[clamp(1rem,3vw,1.75rem)] font-bold;
  }
  h5 {
    @apply text-xl font-semibold;
  }
  h6 {
    @apply text-lg font-semibold;
  }
  li {
    @apply list-none;
  }
  p,
  span,
  small,
  h6,
  input,
  label,
  li {
    @apply overflow-x-hidden font-poppins text-black/80 text-base;
  }

  input,
  select {
    @apply h-[35px] border border-solid border-gray-300 p-2 rounded-lg w-full truncate bg-transparent outline-none;
  }
  select {
    @apply text-xs h-[35px];
  }
  textarea {
    @apply block border border-solid border-gray-300 p-2 rounded-lg w-full h-28 bg-transparent outline-none;
  }
  label {
    @apply text-xs text-primary transform -translate-y-6 -translate-x-1 absolute left-3 top-4 px-1  z-10 isolate;
  }
  label:after {
    @apply content-[''] w-[97%] h-[2.5px] absolute left-px top-[7.2px] bg-white -z-10;
  }
  input:disabled,
  select:disabled,
  textarea:disabled,
  :disabled {
    @apply bg-gray-100 border-gray-200 cursor-not-allowed hover:bg-gray-100 hover:text-inherit hover:border-gray-200;
  }
  input::file-selector-button {
    @apply mr-5 border-0 bg-primary disabled:bg-gray-200 rounded-md text-white cursor-pointer px-1 py-0;
  }
  input:focus,
  select:focus,
  textarea:focus {
    @apply border border-solid border-primary outline-0;
  }

  span.error-show {
    @apply text-[11px] absolute right-1 -bottom-5 text-red-500 italic z-10;
  }
  input.error-show,
  select.error-show,
  textarea.error-show {
    @apply border border-red-500 animate-shake;
  }
  label.error-show {
    @apply text-red-500;
  }
  .tooltip-action {
    @apply relative p-1 bg-transparent leading-none;
  }
  .tooltip-action::after {
    @apply content-[attr(data-tooltip)] z-51! absolute -translate-x-2/4 bottom-full -top-[24px] bg-dark/80 text-white p-1 rounded-sm h-fit leading-none whitespace-nowrap text-center opacity-0 text-[10px] pointer-events-none transition ease-linear scale-0 duration-75 left-1/2;
  }
  .tooltip-action:hover::after {
    @apply opacity-100 scale-100;
  }
  button {
    @apply cursor-pointer outline-0;
  }
}
@layer components {
  .navItem {
    @apply flex items-center gap-3 px-4 py-3 rounded-xl text-gray-700 hover:bg-blue-50 hover:text-blue-600 transition-all duration-200;
  }
  .navItem.active {
    @apply bg-blue-200 text-blue-700 border-l-4 border-l-blue-700;
  }
  .statusBadge {
    @apply inline-block px-3 py-1 rounded-full text-xs font-semibold;
  }
  .statusActive {
    @apply bg-green-100 text-green-800;
  }
  .statusPending {
    @apply bg-yellow-100 text-yellow-800;
  }
  .statusInactive {
    @apply bg-red-100 text-red-800;
  }
  .modal-action {
    @apply flex justify-end w-full -bottom-5 mt-6 mb-4 gap-2 left-0 bg-white z-20;
  }
  .btn-modal-submit {
    @apply flex items-center justify-center text-white gap-2 px-3 py-1.5 bg-primary rounded-md border-primary border hover:bg-white hover:text-primary hover:border-gray-300 duration-300 ease-in w-full;
  }
  .btn-modal-submit:disabled {
    @apply opacity-50 hover:bg-primary hover:text-white hover:border-primary;
  }
  .btn-modal-cancel {
    @apply flex items-center justify-center text-dark gap-2 px-3 py-1.5 bg-white rounded-md border-gray-300 border w-full;
  }
  .btn-modal-cancel:disabled {
    @apply opacity-50 hover:bg-white hover:text-dark hover:border-gray-300;
  }
  .modal-body {
    @apply h-[calc(100dvh-50px)];
  }
  .modal-form-container {
    @apply h-full flex flex-col justify-between overflow-y-auto px-4;
  }
  /* MAKE LAST BACKDROP TO SHOW BG OVERLAY */
  .modal__wrapper,
  .backdrop:last-of-type {
    /* @apply last-of-type:bg-dark/30; */
    @apply bg-dark/30;
  }
  .backdrop:last {
    @apply last:bg-dark/30;
  }

  .modal-container {
    @apply mt-0;
  }
}

@layer utilities {
  .loading-bar::after {
    @apply content-[''] absolute top-0 left-0 w-[180%] h-full bg-linear-to-r from-transparent via-[#eeeeee] to-transparent animate-loading;
  }
}
